.navbar {
    height: 70px;
    font-size: 18px;
}
.navbar-brand img {
    width: 80%;
    height: 80%;
}
.card {
    img {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    h5 {
        margin-bottom: 20px;
    }
}
.Home-banner img {
    width: 100%;
    margin: 0 auto;
}

.card-body h5 {
    transition: color 0.3s ease;
}

.card-body h5:hover {
    color: rgb(166, 130, 66);
}
.table-cart thead tr th {
    padding: 10px 10px 30px 10px;
    font-size: 14px;
    font-weight: normal;
}
.table-cart {
    padding: 0 50px 0 50px;
}

.table-cart tbody tr td {
    padding: 10px;
}
.quantity {
    button {
        display: flex;
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;

        color: rgb(188, 190, 193);
        background-color: white;
        border: 1px solid rgb(222, 226, 230);
    }
    span {
        display: flex;
        width: 35px;
        height: 25px;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(222, 226, 230);
    }
}

.hedding-cart {
    margin: 60px 0 30px 0;
    text-align: center;
    h1 {
        margin-bo500ttom: 35px;
    }
    .hr {
        width: 65px;
        margin: 0 auto;
        background-color: black;
        height: 4px;
    }
}
.delete-cart {
    border: none;
    background-color: #fff;
    font-size: 20px;
}
.information-cart {
    padding: 0 50px 0 50px;
    margin-top: 40px;
}
.checkout-note textarea {
    border-radius: 0;
    background: #ededed;
    color: #000000;
    font-size: 15px;
    padding: 20px 15px;
    outline: none;
    width: 100% !important;
    min-height: 130px;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 150ms linear;
}
.link-continue {
    color: #000000;
}
.navbare {
    display: flex;
    justify-content: space-between;
}
.search-nav {
    margin-right: 70px;
    position: relative;
    span {
        position: absolute;
        font-weight: 600;
        margin-top: 10px;
        margin-left: -85px;
    }
    input {
        border: none;
        border-bottom: 1px solid #000;
    }
    input:focus {
        outline: none;
    }
    i {
        position: absolute;
        margin-top: 13px;
        color: rgb(114, 114, 114);
    }
}
.buttons {
    i {
        font-size: 20px;
    }
    align-items: center;
    a {
        text-decoration: none;
        color: black;
    }
}
.qlt-item {
    position: absolute;
    margin-top: -10px;
    margin-left: 3px;
    font-size: 14px;
}

//footer
.Footer {
    margin-top: 50px;
    background-color: #000;
    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        li {
            padding: 20px 0;
            width: 25%;
            color: white;
            img {
                width: 27px;
                height: 27px;
                margin-bottom: 10px;
            }
            h3 {
                font-weight: 600;
                font-size: 18px;
            }
            a {
                font-weight: 600;
                text-decoration: none;
                color: white;
            }
        }
        li + li {
            border-left: 1px solid #fff;
        }
    }
}

.main-footer {
    background-color: rgb(250, 249, 248);
    padding: 100px 0;
    margin-top: -16px;
}
.item {
    text-align: center;

    justify-content: center;
    h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        li a {
            text-decoration: none;
            color: #666666;
            font-size: 15px;
        }
        li {
            margin-left: -30px;
        }
    }
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;

    .dowload-block a img {
        max-height: 43px;
    }
    .item-qr-download img {
        max-height: 80px;
        margin-left: 10px;
    }
}

.footer-container {
    padding: 100px 0;
}
.social-link {
    display: flex;
    justify-content: center;
    list-style-type: none;
    li a img {
        width: 15px;
        margin-right: 2px;
    }
    li a em {
        font-size: 15px;
    }
    li a {
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    li + li {
        margin-left: 30px;
    }
}
.copyright {
    text-align: center;
    color: #666666;
}
.bct-register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    a img {
        max-height: 55px;
    }
    a {
        align-items: center;
    }
}

.language {
    display: flex;
    float: right;
    margin-right: 50px;
    span + span {
        border-left: 1px solid #666666;
        margin-left: 5px;
    }
    span:first-child {
        font-weight: 600;
        text-decoration: underline;
    }
}

.card-img-container {
    overflow: hidden;
}

.card-img-container img {
    transition: transform 0.5s ease-in-out;
}

.card-img-container:hover img {
    transform: scale(1.1);
}
